.table-node {
  background-color: white;
}

.table-node:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.product-active {
  background-color: yellowgreen;
  color: white;
  font-size: 0.6em;
  padding: 1px 4px 3px;
  border-radius: 3px;
  margin-left: 15px;
}

.presentation {
  display: inline-block;
  background-color: rgb(96, 89, 151);
  color: white;
  font-size: 0.8em;
  padding: 1px 4px 3px;
  border-radius: 3px;
  margin-right: 15px;
}

.table-header {
  border-bottom: 1px solid rgb(87, 87, 87);
  background-color: rgba(96, 89, 151, 0.123);
  th {
    padding: 8px!important;
  }
}

.inner-table-container {
  padding: 0px!important;
}

.inner-table {
  border-top: 1px solid rgb(87, 87, 87);
  padding: 4px;
  background-color: rgb(250, 250, 250);
  margin: 0px;
  td, th {
    border-bottom: 1px solid silver;
    padding: 3px;
  }
  .presentation-row:hover {
    background-color: rgb(233, 233, 233);
  }
}
