.presentation-form-row {
  border-bottom: 1px solid silver;
  background-color: whitesmoke;
  margin-bottom: 15px;
}

.btn-cancel {
  margin-left: 15px;
}

.presentation-actions {
  margin-top: 60px;
}

.price {
  margin-right: 15px;
}

.check-row {
  margin-top: 15px;
}

.page-title {
  margin-bottom: -15px;
}
