<h3>Manejo de precios</h3>

<div class="form-group">
  <input class="form-control form-control-sm"
    currencyMask
    type="number"
    [(ngModel)]="newPrice" />
</div>

<hr />

<p>Histórico de precios</p>

<div *ngIf="prices.length">
  <p *ngFor="let price of prices">
    {{ price.price | amount }}
    <i title="Borrar precio"
      class="bi bi-trash-fill del-button"
      (click)="deletePrice(0)">
    </i>
  </p>
</div>

<div *ngIf="!prices.length">
  <p class="text-muted">No hay precios anteriores.</p>
</div>

<button class="btn btn-primary btn-sm" (click)="confirm()">
  Guardar
</button>

<button class="btn btn-danger btn-sm close" (click)="close()">
  Cancelar
</button>
