<h3>Lista de Productos</h3>

<hr />

<div class="row">
  <div class="col-md-3 col-sm-12 col-12 mt-2">
    <input class="form-control form-control-sm"
      type="text"
      placeholder="Buscar ..."
      [(ngModel)]="filterValue"
      (ngModelChange)="filter()"
      aria-label="Buscar"
    />
  </div>
  <div class="col-md-3 col-sm-12 col-12 mt-2">
    <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm">
      <option selected>Todas las categorías</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="col-md-4 col-sm-12 col-12 mt-2">
  </div>
</div>

<div class="row mt-2">
  <div class="col-12">
    <app-products-table
      *ngIf="filteredProducts && filteredProducts?.length"
      [products]="filteredProducts"
    ></app-products-table>

    <p *ngIf="!filteredProducts?.length && filterValue?.length">
      No hay productos que coincidan con la búsqueda
    </p>

  </div>
</div>
